svg {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    -webkit-tap-highlight-color: transparent; /*Nécessaire sur ipad pour ne pas avoir de rectanle gris sélectionné lors des touch events */
}
