svg {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  -webkit-tap-highlight-color: transparent; /*Nécessaire sur ipad pour ne pas avoir de rectanle gris sélectionné lors des touch events */
}

.btn:hover {
  background: #b6b7b8;
  text-decoration: none;
}

/* Style pour les boîtes de dialogue */
.ui-widget-header, .ui-state-default {
  background: #628dcd;
  border: 1px solid #296acd;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 12px;
}

/* Pour que toutes le boîtes de dialogue n'aient pas de bouton de fermeture.
   Pour une raison qque j'ignore, dans j3p, ce bouton ne s'affiche pas correctement
 */
.ui-dialog-titlebar-close {
  display: none;
}

.mtgOption {
  font-size: 13px;
}

.labelSmall {
  font-size: 14px;
}

.mtgnameinput {
  font-size: 14px;
}

.mtgcaption {
  font-size: 13px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  cursor: pointer;
  padding: 3px 6px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font: normal 17px/normal "Times New Roman", Times, serif;
  color: rgba(55, 17, 221, 0.9);
  background: rgba(182, 221, 237, 0.9);
  -webkit-box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.2), 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
}

.inputfile + label:hover {
  background-color: lightblue;
}

.inputfile:focus + label {
  outline: 1px dotted #000;
  /* @todo expliquer pourquoi il faut écraser la directive précédente avec ça ? Pour iPad ? */
  outline: -webkit-focus-ring-color auto 5px;
}

.labelarrow {
  color: #1236cd;
  margin-left: 10px;
}

.labelarrow:hover {
  margin-left: 10px;
  text-shadow: -1px 0px 0px #1236cd;
}

.buttonarrow {
  cursor: default;
  opacity: 0.6;
}

.buttonarrow:hover {
  opacity: 1;
}

/*
Ligne suivante pour que les icônes associées aux outils dans ChoixOutilsDlg ne soient pas tronquées
 */
.jstree-themeicon-custom {
  background-size: contain !important;
}
