﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts8
{
 font-weight: bold;
 color: #000080;
}
span.rvts9
{
 font-style: italic;
 color: #800000;
}
a.rvts10, span.rvts10
{
 color: #000080;
 text-decoration: underline;
}
span.rvts11
{
 color: #a0a0a0;
}
span.rvts12
{
 font-size: 15pt;
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-weight: bold;
 color: #696969;
}
span.rvts13
{
 font-weight: bold;
 color: #a0a0a0;
}
span.rvts14
{
 font-style: italic;
 color: #a0a0a0;
}
a.rvts15, span.rvts15
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts16 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts17, span.rvts17 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts18
{
}
span.rvts19
{
 font-size: 11pt;
 color: #000000;
}
span.rvts20
{
 font-size: 11pt;
}
a.rvts21, span.rvts21
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts21:hover { color: #0000ff; }
span.rvts22
{
 font-size: 11pt;
 font-style: italic;
 color: #000000;
}
a.rvts23, span.rvts23
{
 color: #008000;
 text-decoration: underline;
}
span.rvts24
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts25
{
 font-size: 11pt;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts26
{
 font-size: 11pt;
 color: #ff0000;
}
span.rvts27
{
 font-size: 11pt;
}
span.rvts28
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts29
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts30
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts31
{
 font-size: 13pt;
 font-weight: bold;
 color: #993300;
}
span.rvts32
{
 font-size: 11pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts33
{
 font-size: 11pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts34
{
 font-size: 14pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts35
{
 font-size: 11pt;
 color: #8b0000;
}
a.rvts36, span.rvts36
{
 font-size: 14pt;
 font-weight: bold;
 color: #8b0000;
 text-decoration: none;
}
span.rvts37
{
 font-size: 14pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts38
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts39
{
 font-size: 11pt;
 font-weight: bold;
}
a.rvts40, span.rvts40
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts40:hover { color: #0000ff; }
span.rvts41
{
 font-size: 11pt;
 color: #000000;
}
a.rvts42, span.rvts42
{
 font-size: 11pt;
 color: #000000;
 text-decoration: none;
}
a.rvts42:hover { color: #0000ff; }
span.rvts43
{
 color: #000000;
}
span.rvts44
{
 font-size: 11pt;
 color: #0000ff;
}
span.rvts45
{
 font-style: italic;
}
span.rvts46
{
 font-size: 14pt;
}
span.rvts47
{
 font-size: 14pt;
 font-weight: bold;
 color: #993300;
}
span.rvts48
{
 font-size: 13pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts49
{
 color: #8b0000;
}
span.rvts50
{
 font-weight: bold;
}
span.rvts51
{
 font-size: 11pt;
 color: ;
}
span.rvts52
{
 color: ;
}
span.rvts53
{
 font-size: 12pt;
 color: #0000ff;
}
span.rvts54
{
 font-size: 7pt;
 color: ;
 vertical-align: sub;
}
span.rvts55
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts56
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #000000;
}
span.rvts57
{
 font-size: 12pt;
 color: #000000;
}
span.rvts58
{
 font-size: 30pt;
 font-weight: bold;
}
span.rvts59
{
 font-size: 16pt;
}
span.rvts60
{
 font-size: 15pt;
}
span.rvts61
{
 font-size: 13pt;
}
span.rvts62
{
 font-size: 12pt;
}
span.rvts63
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts64, span.rvts64
{
 font-family: 'Verdana', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts65
{
 font-size: 14pt;
 font-weight: bold;
 color: #ffffff;
}
a.rvts66, span.rvts66
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: none;
}
a.rvts66:hover { color: #0000ff; }
span.rvts67
{
 font-weight: bold;
 color: #8b0000;
}
span.rvts68
{
 font-size: 15pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts69
{
 font-size: 12pt;
 font-weight: bold;
}
span.rvts70
{
 font-size: 11pt;
 color: #ffffff;
}
span.rvts71
{
 font-size: 12pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts72
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts73
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ff0000;
 text-decoration: underline;
}
a.rvts74, span.rvts74
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: none;
}
a.rvts74:hover { color: #0000ff; }
a.rvts75, span.rvts75
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts75:hover { color: #0000ff; }
span.rvts76
{
 font-size: 12pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts77
{
 font-size: 12pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts78
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts79
{
 font-size: 11pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts80
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts81
{
 font-size: 11pt;
 color: #ff0000;
 text-decoration: underline;
}
span.rvts82
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts83
{
 font-size: 13pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts84
{
 font-size: 11pt;
 font-weight: bold;
 color: #333399;
}
span.rvts85
{
 font-size: 11pt;
 font-weight: bold;
 color: #000080;
}
span.rvts86
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
 color: #000080;
}
span.rvts87
{
 font-size: 12pt;
}
span.rvts88
{
 font-size: 13pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts89
{
 font-size: 13pt;
}
span.rvts90
{
 font-size: 13pt;
 color: #8b0000;
}
span.rvts91
{
 font-size: 14pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts92
{
 font-size: 15pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts93
{
 font-size: 14pt;
 color: #8b0000;
}
span.rvts94
{
 font-size: 14pt;
 font-style: italic;
 font-weight: bold;
 color: #8b0000;
}
span.rvts95
{
 font-size: 14pt;
 font-weight: bold;
 color: #8b0000;
}
span.rvts96
{
 font-size: 13pt;
 font-weight: bold;
 color: #0000ff;
}
span.rvts97
{
 font-size: 11pt;
 text-decoration: underline;
}
span.rvts98
{
 font-size: 11pt;
 color: #8b0000;
}
a.rvts99, span.rvts99
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts99:hover { color: #0000ff; }
span.rvts100
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts101, span.rvts101
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts101:hover { color: #0000ff; }
span.rvts102
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts103
{
 font-size: 11pt;
 color: #ff0000;
}
a.rvts104, span.rvts104
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts104:hover { color: #0000ff; }
a.rvts105, span.rvts105
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts105:hover { color: #0000ff; }
a.rvts106, span.rvts106
{
 color: #0000ff;
 text-decoration: underline;
}
a.rvts106:hover { color: #0000ff; }
a.rvts107, span.rvts107
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts107:hover { color: #0000ff; }
a.rvts108, span.rvts108
{
 font-size: 11pt;
 color: ;
 text-decoration: none;
}
a.rvts108:hover { color: #0000ff; }
span.rvts109
{
 font-size: 11pt;
 color: ;
}
span.rvts110
{
 font-size: 11pt;
 font-weight: bold;
 color: #333399;
}
a.rvts111, span.rvts111
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts111:hover { color: #0000ff; }
a.rvts112, span.rvts112
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts112:hover { color: #0000ff; }
a.rvts113, span.rvts113
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts113:hover { color: #0000ff; }
a.rvts114, span.rvts114
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts114:hover { color: #0000ff; }
a.rvts115, span.rvts115
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts115:hover { color: #0000ff; }
span.rvts116
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts117
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts118
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #ff0000;
}
a.rvts119, span.rvts119
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts119:hover { color: #0000ff; }
a.rvts120, span.rvts120
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts120:hover { color: #0000ff; }
a.rvts121, span.rvts121
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts121:hover { color: #0000ff; }
a.rvts122, span.rvts122
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts122:hover { color: #0000ff; }
a.rvts123, span.rvts123
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts123:hover { color: #0000ff; }
a.rvts124, span.rvts124
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts124:hover { color: #0000ff; }
a.rvts125, span.rvts125
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts125:hover { color: #0000ff; }
span.rvts126
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts127
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
}
a.rvts128, span.rvts128
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts128:hover { color: #0000ff; }
a.rvts129, span.rvts129
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts129:hover { color: #0000ff; }
span.rvts130
{
 font-size: 11pt;
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts131
{
 font-style: italic;
 font-weight: bold;
}
a.rvts132, span.rvts132
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts132:hover { color: #0000ff; }
a.rvts133, span.rvts133
{
 font-size: 11pt;
 color: #000000;
 text-decoration: none;
}
a.rvts133:hover { color: #0000ff; }
a.rvts134, span.rvts134
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: none;
}
a.rvts134:hover { color: #0000ff; }
a.rvts135, span.rvts135
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts135:hover { color: #0000ff; }
span.rvts136
{
 font-family: 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts137
{
 font-size: 11pt;
 border-bottom: double;
}
a.rvts138, span.rvts138
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts139, span.rvts139
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts139:hover { color: #0000ff; }
span.rvts140
{
 font-size: 12pt;
 color: #ff0000;
}
a.rvts141, span.rvts141
{
 font-size: 13pt;
 font-family: 'Times New Roman', 'Times', serif;
 color: #0000ff;
 text-decoration: underline;
}
a.rvts141:hover { color: #0000ff; }
span.rvts142
{
 font-size: 12pt;
 font-weight: bold;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4
{
 margin: 0px 0px 5px 0px;
}
.rvps5 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps6
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps7
{
 margin: 0px 0px 0px 24px;
}
.rvps8
{
 text-align: center;
 line-height: 1.50;
 margin: 250px 0px 0px 0px;
}
.rvps9
{
 border-color: #aaaaaa;
 border-style: solid;
 border-width: 1px;
 border-top: none;
 border-right: none;
 border-left: none;
 margin: 19px 0px 9px 0px;
}
.rvps10
{
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-bottom: none;
 border-left: none;
 background: #ffffff;
 padding: 3px 0px 0px 0px;
 margin: 26px 0px 0px 0px;
}
.rvps11
{
 margin: 0px 0px 0px 48px;
}
.rvps12
{
 text-indent: -24px;
 margin: 0px 0px 0px 24px;
}
.rvps13
{
 text-indent: -5px;
}
.rvps14
{
 text-indent: -24px;
 margin: 0px 0px 0px 48px;
}
.rvps15
{
 margin: 0px 0px 0px 72px;
}
.rvps16
{
 text-align: justify;
 text-justify: inter-word;
 text-align-last: auto;
}
.rvps17
{
 text-indent: -24px;
 margin: 0px 0px 0px 72px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; margin-left: 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; margin-left: 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; margin-left: 72px; list-style-position: outside; list-style-type: square;}
